In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In C:\Users\JCM\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\JCM\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\JCM\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\JCM\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\JCM\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\JCM\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\JCM\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\JCM\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
df1 = pd.read_csv('imdb_top_movies_12-19-20.csv')
df2 = pd.read_csv('imdb_top_movies_2010-2021_top500.csv')

In [3]:
pattern = re.compile(r'\d{4}')
df1['year'] = df1.year.apply(lambda x: pattern.search(x).group())
df2['year'] = df2.year.apply(lambda x: pattern.search(x).group())

In [4]:
df2['year'] = df2['year'].apply(lambda x: int(x))

In [5]:
df2 = df2[(df2['year']>2014) & (df2['rank']<250)]

In [6]:
data = df1.append(df2).reset_index()

In [7]:
data.isnull().sum()

index             0
rank              0
name              0
year              0
certificate       0
runtime           6
genre             0
rating            4
story             0
director          0
cast1             1
cast2             2
cast3             5
cast4            14
gross          1575
dtype: int64

In [8]:
data['genre'] = data.genre.apply(lambda x: (str(x)).strip())
data['story'] = data.story.apply(lambda x: (str(x)).strip())

In [9]:
data['certificate'] = data.certificate.apply(lambda x: str(x))
data['certificate'] = data.certificate.apply(lambda x: np.nan if (len(x) >= 6) else x)

In [19]:
data['year'] = data['year'].apply(lambda x: int(x))

In [12]:
data.certificate.isnull().sum()

1326

In [23]:
data[(data['certificate'].isnull()) & (data['year'] > 1980)].year.value_counts()

2018    92
2017    77
2019    68
2020    58
2015    58
2016    55
1988    48
1990    48
1989    39
1985    32
1986    32
1984    28
1987    25
1991    21
1981    19
1982    16
1983    16
2013    15
2014    14
2011    11
2012    10
2008     9
2006     9
2007     8
2000     8
1998     6
1995     5
2009     5
2010     5
1994     4
2004     4
1992     4
2002     4
1996     4
2005     3
1999     3
2003     3
1993     3
1997     2
2001     2
Name: year, dtype: int64

In [196]:
data['name'] = data.name.apply(lambda x: x.lower())

In [216]:
data.columns

Index(['name', 'genre', 'director', 'cast1', 'cast2', 'cast3', 'cast4'], dtype='object')

In [217]:
data = data[['name', 'genre', 'director', 'cast1', 'cast2', 'cast3', 'cast4']]

In [210]:
data = data.reset_index(drop=True)
data.drop(data[data.cast1.isnull()].index,inplace=True)

In [211]:
data = data.reset_index(drop=True)
data.drop(data[data.cast2.isnull()].index,inplace=True)

In [212]:
data = data.reset_index(drop=True)
data.drop(data[data.cast3.isnull()].index,inplace=True)

In [214]:
data = data.reset_index(drop=True)
data[data['name']=='arctic']

,name,genre,director,cast1,cast2,cast3,cast4
7346,arctic,"Adventure, Drama",Joe Penna,Mads Mikkelsen,Maria Thelma Sm치rad칩ttir,Tintrinai Thikhasuk,NaN

In [215]:
data.iat[7346,6] = 'Polar Bear'

In [218]:
data = data.reset_index(drop=True)
data.drop(data[data.cast4.isnull()].index,inplace=True)

In [219]:
data = data.reset_index(drop=True)

In [221]:
data.isnull().sum()

name        0
genre       0
director    0
cast1       0
cast2       0
cast3       0
cast4       0
dtype: int64

In [222]:
data['genre'] = data.genre.apply(lambda x: x.replace(',', ' '))

In [223]:
data['comb'] = data['genre'] + ' ' + data['director'] + ' ' + data['cast1'] + ' ' + data['cast2'] + ' ' + data['cast3'] + ' ' + data['cast4']

In [230]:
data.drop_duplicates(subset ="name", keep = 'last', inplace = True)

In [232]:
data = data.reset_index(drop=True)

In [233]:
data.to_csv('data_v_1.csv',index=False)